
/* bg color variables */
:root {
 
    --dark: rgb(45, 45, 45);
    --blue: rgb(35, 90, 255);
    --red: rgb(255, 30, 30);
    --orange:rgb(255, 102, 0);
    --green: rgb(0, 150, 0);
    --white: white;
    --yellow: rgb(221, 221, 1);
    --gray: gray;
    --darkgray: rgb(90, 90, 90);
    --lightgray: lightgray;
    --purple: rgb(168, 0, 168);
    --pink: rgb(255, 60, 151);
    --lightblue: rgb(0, 180, 240);
    --lightgreen: rgb(0, 180, 0);
    --font-family: Verdana, Geneva, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue';
    
}

/* remove browser defaults */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* remove default href, ul, li */
ul, li {
    list-style: none;
    text-decoration: none;
    outline:none;
}

p {
    margin: 0;
    padding:0;
}

a, button  {

    text-decoration: none;
    padding: 0;
    margin:0;
    outline: none;
    width: auto;
    display: block;

}

form {
    width: auto;
    margin:0;
    padding: 0;
}

textarea {

    resize: none;
    height: 100px;

}

img {

    max-width: 100%;
    padding: 0;
    margin: 0;

}

table {

    width:100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0px;
    overflow-wrap: break-word;

}

th {

    font-weight: medium;    
    border-bottom: 2px solid var(--lightgray);
    padding-bottom: 10px;
    font-family: 'Open sans';
}


td {
    padding-block: 20px;
    font-family: Roboto, sans-serif;
}

input, textarea {
    accent-color: var(--blue);
}

::-webkit-file-upload-button {
    text-align: center;
}

/* background colors */

.transparent {
    background: transparent !important;
}

.dark {
    background: var(--dark) !important;
}

.blue {
    background: var(--blue) !important;
}

.lightblue {
    background: var(--lightblue) !important;
}

.red {
    background: var(--red) !important;
}

.green {
    background: var(--green) !important;
}

.lightgreen {
    background: var(--lightgreen) !important;
}

.orange {
    background: var(--orange) !important;
}

.yellow {
    background: var(--yellow) !important;
}

.gray {
    background: var(--gray) !important;
}

.darkgray {
    background: var(--darkgray) !important;
}

.lightgray {
    background: var(--lightgray) !important;
}

.purple {
    background: var(--purple) !important;
}

.pink {
    background: var(--pink) !important;
}

.white {
    background: var(--white) !important;
}

/* navbar (incomplete) */
/* should be fixed with nav-menu alignment */
.navbar {

    height:70px;
    width: 100%;
    line-height: 70px;
    position: relative;
    box-shadow: 0px 10px 20px solid var(--gray);
    box-sizing: border-box;

}

/* align navbar items inline */
.navbar .container-fluid, 
.navbar .container {
    display: inline;
}

/* if navbar is white */
.navbar:is(.white) span,
.navbar:is(.white) a
 {
    color: var(--dark);
}

.logo, .logo span, .logo p, .logo i {
    font-size: x-large;
    color: var(--white);
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin-right: 10px;
}

.logo p {
    margin-block:0;
}

.nav-menu {
    margin-block: 0;
    position: relative;
}

.nav-menu li {
    display: inline-block;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: var(--lightgray);
    margin-inline: 10px;
}

.nav-item a:hover {
    color: var(--white);
    transition: 0.7s;
}

.navbar .right {
    margin-right: 10px;
}

/* display */

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-inline {
    display: inline !important;
}

.d-flex {
    display: flex !important;
}

.d-inline-flex {
    display: inline-flex !important;
}

/* forms (incomplete)  */
/* input decoration (borders, width and height) should be fixed */

.form-control {

    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border:thin solid var(--lightgray);
    border-radius: 5px;

}

.input-field input[type="file"] {

    width: 100%;
    padding-top: 15px;
    margin-left: 0;
    padding-left: 10px;

}

.textarea-control {

    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border:thin solid var(--lightgray);
    border-radius: 5px;

}

.form-control::placeholder, 
.textarea-control::placeholder
 {
    font-size:medium;
}

.form-control:focus-within,
 textarea
{
    outline: none;
}

/* navbar form */
.navbar form {

    display: inline-flex;
    height:auto;

}

.navbar form .input-field {
    box-sizing: border-box;
    border: none;
    margin-inline: 5px;
}

.navbar form .form-control {

    height:40px;
    padding: 5px;
    border-radius: 5px;
    border: thin solid var(--gray);

}

.navbar form button, 
.navbar form input[type="submit"], 
.navbar form a {
    
    height:40px;
    border:none;
    
}


/* text alignment */
.text-center {
    text-align:center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important; 
}

/* margin */
.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 0.25em !important;
}

.m-2 {
    margin: .5em !important;
}

.m-3 {
    margin: 1em !important;
}

.m-4 {
    margin: 1.5em !important;
}

.m-5 {
    margin: 3em !important;
}

/* margin left */
.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: 0.25em !important;
}

.ml-2 {
    margin-left: .5em !important;
}

.ml-3 {
    margin-left: 1em !important;
}

.ml-4 {
    margin-left: 1.5em !important;
}

.ml-5 {
    margin-left: 3em !important;
}

/* margin right */
.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: 0.25em !important;
}

.mr-2 {
    margin-right: .5em !important;
}

.mr-3 {
    margin-right: 1em !important;
}

.mr-4 {
    margin-right: 1.5em !important;
}

.mr-5 {
    margin-right: 3em !important;
}


/* margin top */
.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.25em !important;
}

.mt-2 {
    margin-top: .5em !important;
}

.mt-3 {
    margin-top: 1em !important;
}

.mt-4 {
    margin-top: 1.5em !important;
}

.mt-5 {
    margin-top: 3em !important;
}

/* margin bottom */
.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25em !important;
}

.mb-2 {
    margin-bottom: .5em !important;
}

.mb-3 {
    margin-bottom: 1em !important;
}

.mb-4 {
    margin-bottom: 1.5em !important;
}

.mb-5 {
    margin-bottom: 3em !important;
}

/* margin horizontally */
.mx-0 {
    margin-inline: 0 !important;
}

.mx-1 {
    margin-inline: 0.25em !important;
}

.mx-2 {
    margin-inline: .5em !important;
}

.mx-3 {
    margin-inline: 1em !important;
}

.mx-4 {
    margin-inline: 1.5em !important;
}

.mx-5 {
    margin-inline: 3em !important;
}

/* margin vertically */
.my-0 {
    margin-block: 0 !important;
}

.my-1 {
    margin-block: 0.25em !important;
}

.my-2 {
    margin-block: .5em !important;
}

.my-3 {
    margin-block: 1em !important;
}

.my-4 {
    margin-block: 1.5em !important;
}

.my-5 {
    margin-block: 3em !important;
}

/* padding */
.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 0.25em !important;
}

.p-2 {
    padding: .5em !important;
}

.p-3 {
    padding: 1em !important;
}

.p-4 {
    padding: 1.5em !important;
}

.p-5 {
    padding: 3em !important;
}

/* containers */
.container-fluid {
    width: auto !important;
}

.container {
  margin-inline: 1em;
  margin-block: 1em;
}


/* text colors */
.text-blue {
    color:var(--blue) !important;
}

.text-red {
    color: var(--red) !important;
}

.text-green {
    color: var(--green) !important; 
}

.text-orange {
    color: var(--orange) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-white {
    color:var(--white) !important;
}

.text-yellow {
    color: var(--yellow) !important;
}

.text-gray {
    color: var(--gray) !important;
}

.text-purple {
    color: var(--purple) !important;
}

.text-pink {
    color: var(--pink) !important;
}

.text-lightblue {
    color: var(--lightblue) !important;
}

.text-lightgreen {
    color: var(--lightgreen) !important;
}


/* width */
.w-25 {
    width: 25% !important; 
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

/* vertical height */
.vh-100 {
    min-height: 100vh;
}

/* height */
.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}


/* buttons */
.btn {

    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    color: var(--white);
    text-transform:uppercase;
    border: none;
    display: inline-grid;
    height: 30px;
    line-height: 100%;
    place-content: center center;
    outline: none;

}

.card a, .card button {
    padding: .5em;
    word-wrap: break-word;
}

.btn .btn-outline {
    background-color: transparent !important; 
    outline: auto;
}

.nav-item a:is(.btn) {

    text-decoration: none;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.7);
    height: 35px;
    display: inline;
    text-align: center;
    padding:10px;

}

.nav-item a:is(.btn):hover, 
.nav-item button:is(.btn):hover {
    color: var(--white);
}

/* 
.btn:hover {
    box-shadow: 0px 0px 2px 0px var(--gray);
} */

/* if nav is white reset links to default */
.navbar:is(.white) a:hover {
    color: var(--dark);
}

.navbar:is(.white) a:is(.btn) {
    color: var(--white);
}

.footer .btn {
    padding: .3em;
}

/* cards (incomplete)*/
/* should be fixed */
.card {
    
    border: thin solid var(--lightgray);
    box-shadow: 0px 0px 10px var(--lightgray);
    background: var(--white);
    width: 100%;
    border-radius: 20px;
    text-overflow: ellipsis;
    overflow-wrap: break-word;

}

.card-content {
    padding: 10px;
    margin-block: 10px;
}

.card-img {
    width:100%;
    height:auto;
    position: relative;
    top:0;
    padding-bottom: 5px;
    margin: 0;
}

.card-img img {

    width:100%;
    min-height: 250px;
    max-height: 250px;
    object-position: center;
    object-fit: cover;

}

.card-title {

    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid var(--lightgray); 

}

.card-body {
    margin: 10px;
}

.card-footer {

    border-top:  1px solid var(--lightgray);
    padding-top: 15px;
    margin-top: 10px;

}

/* grid */
 .row {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);

}

  /* columns */

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;
}

.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}
  
    /*grid gap  */
.gap-none {
    grid-gap:0px;
}

.gap-1 {
    grid-gap: 5px;
}

.gap-2 {
    grid-gap: 10px;
}

.gap-3 {
    grid-gap:15px;
}

.gap-4{
    grid-gap:20px;
}

.gap-5 {
    grid-gap:25px;
}

/* column gap */
.col-gap-1 {
    grid-gap: 5px;
}

.col-gap-2 {
    grid-gap: 10px;
}

.col-gap-3 {
    grid-gap:15px;
}

.col-gap-4{
    grid-gap:20px;
}

.col-gap-5 {
    grid-gap:25px;
}

/* row gap */
.row-gap-1 {
    grid-gap: 5px;
}

.row-gap-2 {
    grid-gap: 10px;
}

.row-gap-3 {
    grid-gap:15px;
}

.row-gap-4 {
    grid-gap:20px;
}

.row-gap-5 {
    grid-gap:25px;
}

/* spinner */
.spinner-container {
    display: flex;
    justify-content: center;
}

.spinner-container::after{
    content: "";
    height: 50px;
    width: 50px;
    border: 10px solid transparent;    
    border-bottom-color: var(--blue);
    border-top-color: var(--blue);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

/* borders */
.border-none {
    border: none !important;
}

.border-dark {
    border-color: var(--dark);
    border-style: solid;
}

.border-red {
    border-color:var(--red);
    border-style: solid;
}

.border-blue {
    border-color:var(--blue);
    border-style: solid;
}

.border-lightblue {
    border-color:var(--lightblue);
    border-style: solid;
}

.border-green {
    border-color: var(--green);
    border-style: solid;
}

.border-lightgreen {
    border-color: var(--lightgreen);
    border-style: solid;
}

.border-orange {
    border-color: var(--orange);
    border-style: solid;
}

.border-yellow {
    border-color: var(--yellow);
    border-style: solid;
}

.border-gray {
    border-color: var(--gray);
    border-style: solid;
}

.border-darkgray {
    border-color: var(--darkgray);
    border-style: solid;
}

.border-lightgray {
    border-color: var(--lightgray);
    border-style: solid;
}

.border-purple {
    border-color: var(--purple);
    border-style: solid;
}

.border-pink {
    border-color: var(--pink);
    border-style: solid;
}

/* border width */
.border-0 {
    border-width: 0em;
}

.border-1 {
    border-width: 0.1em;
}

.border-2 {
    border-width: 0.2em;
}

.border-3 {
    border-width: 0.3em;
}

.border-4 {
    border-width: 0.4em;
}

.border-5 {
    border-width: 0.5em;
}

/* border radius */
.round-25 {
    border-radius: 25%;
}

.round-50 {
    border-radius: 50%;
}

.round-75 {
    border-radius: 75%;
}

.round-100 {
    border-radius: 100%;
}

.round-sm {
    border-radius: 5px;
}

.round-md {
    border-radius: 10px;
}

.round-lg {
    border-radius: 15px;
}

/* float */
.left {
    float:left !important;
}

.right {
    float: right !important;
}

.center {
    text-align: center;
}

/* justify */
.justify-content-start {
  justify-content: start;
}

.justify-content-center {
    display:grid;
    justify-content: center;
}

.justify-content-end {
    display:grid;
    justify-content: end;
}

/* align */
.align-items-start {
    display:grid;
    align-items: flex-start;
}

.align-items-center {
    display:grid;
    align-items: center;
}

.align-items-end {
    display:grid;
    align-items: flex-end;
}

/* font weight */
.fw-100 {
    font-weight:100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight:500
}

.fw-600 {
    font-weight:600;
}

.fw-700 {
    font-weight:700;
}

.fw-800 {
    font-weight:800;
}

.fw-900 {
    font-weight:900;
}

.fw-bold {
    font-weight: bold;
}

.fw-light {
  font-weight: lighter;
}

.fw-strong {
    font-weight: bolder;
}

/* text styles/decorations */
.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

/* font size */
.text-sm {
    font-size: small;
}

.text-md {
    font-size: medium;
}

.text-lg {
    font-size: large;
}

.text-xl {
    font-size: x-large;
}

.text-upper {
    text-transform: uppercase;
}

.text-lower {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.footer, 
footer {
    position: relative;
    bottom:0;
    width: auto;
}


/* positions */
.p-relative {
    position: relative;
}

.p-fixed {
    position: fixed;
}

.p-absolute {
    position: absolute;
}

.p-sticky {
    position: sticky;
}

.p-static {
    position: static;
}


/* table */
/* (should be fixed) */

.table tbody tr {
    background-color: none;
    border-bottom: thin solid var(--lightgray);
    padding:5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-striped tbody tr:nth-child(odd) {
    background: var(--lightgray); 
}

/* alerts */
.alert {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    border-radius: 3px;
    color: var(--white);
    width: auto;
    position: relative;
    margin: 0;
}

.alert-dark  {
    border-left: 20px var(--dark);
    border-left-style:groove;
    background: var(--dark);
}

.alert-red  {
    border-left: 20px var(--red);
    border-left-style:groove;
    background: var(--red);
}

.alert-blue {
    border-left: 20px var(--blue);
    border-left-style:groove;
    background-color: var(--blue);
}

.alert-green {
    border-left: 20px var(--green);
    border-left-style:groove;
    background: var(--green);
}

.alert-orange {
    border-left: 20px var(--orange);
    border-left-style:groove;
    background: var(--orange);
}

.alert-yellow {
    border-left: 20px var(--yellow);
    border-left-style:groove;
    background: var(--yellow);

}

.alert-gray {
    border-left: 20px var(--lightgray);
    border-left-style:groove;
    background: var(--lightgray);
}

.alert-purple {
    border-left: 20px var(--purple);
    border-left-style:groove;
    background: var(--purple);
}

.alert-darkgray {
    border-left: 20px var(--darkgray);
    border-left-style:groove;
    background: var(--darkgray);
}

.alert-pink {
    border-left: 20px var(--pink);
    border-left-style:groove;
    background: var(--pink);
}

.alert-lightblue {
    border-left: 20px var(--lightblue);
    border-left-style:groove;
    background: var(--lightblue);
}

.alert-lightgreen {
    border-left: 20px var(--lightgreen);
    border-left-style:groove;
    background: var(--lightgreen);
}


/* alert close accent color */
.alert-dark .alert-close {
    background: var(--gray);
    color: var(--darkgray);
}

.alert-red  .alert-close {
    background: rgb(255, 34, 53);
    color: rgb(248, 0, 0)
}

.alert-blue .alert-close {
    background-color: var(--blue);
}

.alert-green .alert-close {
    background: var(--green);
}

.alert-orange  .alert-close{
    background: var(--orange);
}

.alert-yellow .alert-close {
    background: var(--yellow);

}

.alert-gray .alert-close {

    background: var(--lightgray);
}

.alert-purple .alert-close {
    background: var(--purple);
}

.alert-darkgray .alert-close {
    background: var(--darkgray);
}

.alert-pink .alert-close {
    background: var(--pink);
}

.alert-lightblue .alert-close {
    background: var(--lightblue);
}

.alert-lightgreen .alert-close {
    background: var(--lightgreen);
}

.alert-msg {
    
    grid-column: span 11;
    text-overflow: clip;
    overflow-wrap: break-word;
    display: grid;
    align-items: center;
    
}

.alert-close {

    grid-column: span 1;
    font-family: 'Courier New';
    background: var(--darkgray);
    min-height: 100%;
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: center;


}

.alert-close a, .alert-close span {

    font-size:x-large;
    height: auto;
    position: relative;
    width: auto;
    padding: .5em;

}

.alert-close-btn::after {
    content: "x";
}




/* modals */
.modal {
 
    background: rgb(46, 46, 46, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 999;
    position: fixed;
    top: 0;

}

.modal-box {

    display: block;
    background:  var(--white);
    border: thin solid var(--lightgray);
    border-radius: 5px;
    margin-inline: 80px;
    width: auto;
    z-index: 999;
    position: fixed;
    top: 30px;
    /* box-shadow: 0px 0px 3px 0px var(--gray); */
    box-sizing:content-box;
    float:none !important;

}

.modal-content {
    padding:20px;
}

.modal-title {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, sans-serif;
    border-bottom: thin solid var(--lightgray);
    padding-bottom: 5px;
}

.modal-body {
    padding-top: 10px;
    margin-bottom: 20px;
}

.modal-footer {
    border-top: thin solid var(--lightgray);
    padding-top: 15px;
    text-align:right;
}


/* grid system for devices  (should be fixed)*/

/* mobile screens */
@media screen and (max-width: 480px) {

    /* columns */
    .col-sm-1 {
        grid-column: span 1;
    }
    .col-sm-2 {
        grid-column: span 2;
    }
    .col-sm-3 {
        grid-column: span 3;
    }
    .col-sm-4 {
        grid-column: span 4;
    }
    .col-sm-5 {
        grid-column: span 5;
    }
    .col-sm-6 {
        grid-column: span 6;
    }
    .col-sm-7 {
        grid-column: span 7;
    }
    .col-sm-8 {
        grid-column: span 8;
    }
    .col-sm-9 {
        grid-column: span 9;
    }
    .col-sm-10 {
        grid-column: span 10;
    }
    .col-sm-11 {
        grid-column: span 11;
    }
    .col-sm-12 {
        grid-column: span 12;
    }

    /* display */
    .d-sm-none {
        display: none;
    }

    .d-sm-block {
        display: block;
    }

    .d-sm-inline {
        display: inline;
    }

    .d-sm-inline-block {
        display: inline-block;
    }

    .d-sm-inline-flex {
        display: inline-flex;
    }

    .d-sm-flex {
        display: flex;
    }

    .d-sm-grid {
        display: grid;
    }

    /* sidenav adjust */
    .sidenav-content {
        width: 300px;
    }


}

/* tablet screen */
@media screen and (min-width: 480px) {

    /* columns */
    .col-md-1 {
        grid-column: span 1;
     }
     .col-md-2 {
        grid-column: span 2;
     }
     .col-md-3 {
        grid-column: span 3;
     }
     .col-md-4 {
        grid-column: span 4;
     }
     .col-md-5 {
        grid-column: span 5;
     }
     .col-md-6 {
        grid-column: span 6;
     }
     .col-md-7 {
        grid-column: span 7;
     }
     .col-md-8 {
        grid-column: span 8;
     }
     .col-md-9 {
        grid-column: span 9;
     }
     .col-md-10 {
        grid-column: span 10;
     }
     .col-md-11 {
        grid-column: span 11;
     }
     .col-md-12 {
        grid-column: span 12;
     }

    /* display */
    .d-md-none {
        display: none;
    }

    .d-md-block {
        display: block;
    }

    .d-md-inline {
        display: inline;
    }

    .d-md-inline-block {
        display: inline-block;
    }

    .d-md-inline-flex {
        display: inline-flex;
    }

    .d-md-flex {
        display: flex;
    }

    .d-md-grid {
        display: grid;
    }

    /* sidenav adjust */
    .sidenav-content {
        width: 360px;
    }


}

/* laptop screen*/
@media screen and (min-width: 768px) {

    /* columns */
    .col-lg-1 {
        grid-column: span 1;
     }
     .col-lg-2 {
        grid-column: span 2;
     }
     .col-lg-3 {
        grid-column: span 3;
     }
     .col-lg-4 {
        grid-column: span 4;
     }
     .col-lg-5 {
        grid-column: span 5;
     }
     .col-lg-6 {
        grid-column: span 6;
     }
     .col-lg-7 {
        grid-column: span 7;
     }
     .col-lg-8 {
        grid-column: span 8;
     }
     .col-lg-9 {
        grid-column: span 9;
     }
     .col-lg-10 {
        grid-column: span 10;
     }
     .col-lg-11 {
        grid-column: span 11;
     }
     .col-lg-12 {
        grid-column: span 12;
     }

    /* display */
    .d-lg-none {
        display: none;
    }

    .d-lg-block {
        display: block;
    }

    .d-lg-inline {
        display: inline;
    }

    .d-lg-inline-block {
        display: inline-block;
    }

    .d-lg-inline-flex {
        display: inline-flex;
    }

    .d-lg-flex {
        display: flex;
    }

    .d-lg-grid {
        display: grid;
    }

    /* sidenav adjust */
    .sidenav-content {
        width: 480px;
    }

}

/* desktop screen*/
@media screen and (min-width: 1200px) {

    /* columns */
    .col-xl-1 {
        grid-column: span 1;
     }
     .col-xl-2 {
        grid-column: span 2;
     }
     .col-xl-3 {
        grid-column: span 3;
     }
     .col-xl-4 {
        grid-column: span 4;
     }
     .col-xl-5 {
        grid-column: span 5;
     }
     .col-xl-6 {
        grid-column: span 6;
     }
     .col-xl-7 {
        grid-column: span 7;
     }
     .col-xl-8 {
        grid-column: span 8;
     }
     .col-xl-9 {
        grid-column: span 9;
     }
     .col-xl-10 {
        grid-column: span 10;
     }
     .col-xl-11 {
        grid-column: span 11;
     }
     .col-xl-12 {
        grid-column: span 12;
     }

    /* display */
    .d-xl-none {
        display: none;
    }

    .d-xl-block {
        display: block;
    }

    .d-xl-inline {
        display: inline;
    }

    .d-xl-inline-block {
        display: inline-block;
    }

    .d-xl-inline-flex {
        display: inline-flex;
    }

    .d-xl-flex {
        display: flex;
    }

    .d-xl-grid {
        display: grid;
    }

    /* sidenav adjust */
    .sidenav-content {
        width: 540px;
    }

}

/* images */
.img-responsive {
    width: 100%; 
    height: auto;
    object-fit: contain;
}

/* shadows */
.shadow-sm {
    box-shadow: 0px 0px 3px var(--gray);
}

.shadow-md {
    box-shadow: 0px 0px 6px var(--gray);
}

.shadow-lg {
    box-shadow: 0px 0px 12px var(--gray);
}

/* loding bar */
.loading-bar {
    
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: var(--lightgray);
    border-radius: 5px;
    padding:0;
    margin:0;
    border-spacing: 0;
    overflow: hidden;

}

.loading-progress {
    
    padding: 5px;
    width: auto;
    border-radius: 2.5px;
    animation: load 5s linear infinite;
    
}

@keyframes load {
    0% {
        width: 0%;
    }
    25% {
        width: 25%;
    }
    50% {
        width: 50%;
    }
    75% {
        width: 75%;
    }
    100% {
        width:  100%;
    }
}


/* sidenav */
.sidenav {

  background: rgba(46, 46, 46, .5);
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 999;

}

.sidenav-content {

    border-bottom: 2px solid var(--dark);
    width: 300px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    color: var(--dark);  
    background: var(--white);

}

.sidenav-section {

    min-height: 70px;
    border-bottom: 2px solid var(--lightgray);

}

.sidenav-title {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--dark);
    width:100%;
    height: auto;

}

.sidenav-item {

    height:auto;
    width: 100%;
    
}
 
.sidenav-link:hover {

    background: var(--lightgray);
    color: var(--dark);

}

.sidenav-link {

    color:var(--dark);
    display: block;
    width:auto;
    height: 100%;
    padding: 20px;
    font-size:18px;

}

.sidenav-item a:active {
    color: var(--blue);
    background: var(--lightgray);

}

/* if sidenav is other colors */

.sidenav:matches(.dark, .blue, .red, .orange, .yellow, .green) {
  
    background: rgba(46, 46, 46, .5);
    color: var(--white);
}

.dark .sidenav-content {
    background: var(--dark);
}

.blue .sidenav-content {
    background: var(--blue);
}

.red .sidenav-content {
    background: var(--red);
}

.orange .sidenav-content {
    background: var(--orange);
}

.yellow .sidenav-content {
    background: var(--yellow);
}

.green .sidenav-content {
    background: var(--green);
}

.dark .sidenav-section,
.blue .sidenav-section,
.red .sidenav-section,
.orange .sidenav-section,
.yellow .sidenav-section,
.green .sidenav-section
{
    border-bottom: 2px solid var(--white);
    color: var(--white);

}

.dark .sidenav-title,
.red .sidenav-title,
.blue .sidenav-title,
.orange .sidenav-title,
.yellow .sidenav-title,
.green .sidenav-title
{
    color: var(--white);
}

.dark .sidenav-link:hover,
.blue .sidenav-link:hover,
.red .sidenav-link:hover,
.orange .sidenav-link:hover,
.yellow .sidenav-link:hover,
.green .sidenav-link:hover
{
    
    background: var(--white);
    color: var(--dark);

}

.dark .sidenav-link,
.red .sidenav-link,
.blue .sidenav-link,
.orange .sidenav-link,
.yellow .sidenav-link,
.green .sidenav-link
{

    color: var(--white);

}

/* if sidenav is yellow (link hover and color text) */
.yellow .sidenav-section {
    border-bottom: 2px solid var(--dark);
    color: var(--dark);
}

.yellow .sidenav-title{
    color: var(--dark);
}

.yellow .sidenav-link{
    color:var(--dark);
}


/* avatar */
 .avatar, 
 .avatar img {
    
    border-radius: 100%;
    text-align: center;
    background-position: center;
    background-size: contain;
    
}

/* outlines */
.outline-0 {
    outline: none;
}

.outline-1 {
    outline-width: 0.1px;
    outline-style: solid;
}

.outline-2 {
    outline: 0.2px;
    outline-style: solid;
}

.outline-3 {
    outline-width: 0.3;
    outline-style: solid;
}

.outline-4 {
    outline: 0.4px;
    outline-style: solid;
}

.outline-5 {
    outline-width: 0.5px;
    outline-style: solid;
}

/* outline colors */
.outline-dark {
    outline-color: var(--dark);
}

.outline-red {
    outline-color: var(--red);
}

.outline-blue {
    outline-color: var(--blue);
}

.outline-lightblue {
    outline-color: var(--lightblue);
}

.outline-orange {
    outline-color: var(--orange);
}

.outline-yellow {
    outline-color: var(--yellow);
}

.outline-white {
    outline-color: var(--white);
}

.outline-green {
    outline-color: var(--green);
}

.outline-gray {
    outline-color: var(--gray);
}

.outline-darkgray {
    outline-color: var(--darkgray);
}

.outline-pink {
    outline-color: var(--pink);
}

.outline-purple {
    outline-color: var(--purple);
}

.outline-lightgreen {
    outline-color: var(--lightgreen);
}