body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    width: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* navbar (incomplete) */
/* should be fixed with nav-menu alignment */
.navbar {
    background: rgb(46, 46, 46);
    height:60px;
    line-height: 60px;
    width: 100%;
    position: relative;
}

/* align navbar items inline */
.navbar .container-fluid, .navbar .container {
    display: inline;
}

.logo, .logo span, .logo p, .logo i {
    font-size: 20px;
    color:white;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin-right: 10px;
}

.logo p {
    margin:0;
}

.nav-menu {
    margin-block: 0;
    position: relative;
}

.nav-menu li {
    display: inline-block;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.597);
    margin-inline: 5px;
}

.nav-item a:hover {
    color: rgba(255, 255, 255, 0.952);
    transition: 0.5s;
}

.navbar ul:-moz-any(.right) {
    margin-right: 10px;
}

.navbar ul:-webkit-any(.right) {
    margin-right: 10px;
}


/* display */

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-inline {
    display: inline;
}

.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

/* forms (incomplete)  */
/* input decoration (borders, width and height) should be fixed */

.form-control {

    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border:thin solid gray;
    border-radius: 5px;

}

.input-field input[type="file"] {

    width: 100%;
    padding-top: 15px;
    margin-left: 0;
    padding-left: 10px;

}

.textarea-control {

    width: 100%;
    height: 100px;
    box-sizing: border-box;

}

.form-control::placeholder, .textarea-control::placeholder {
    font-size:medium;
}

form {
    width: auto;
}

textarea {

    resize: none;
    height: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

/* navbar form */
.navbar form {
    display: inline-flex;
}

.navbar form .input-field {
    box-sizing: border-box;
    border: none;
    margin-inline: 5px;
}

.navbar form .form-control {

    height:35px;
    padding: 5px;
    border-radius: 5px;
    border: none;

}

.navbar form button, .navbar form input[type="submit"] {
    
    height:35px;
    padding: 5px;
    border:none;
    
}

/* text alignment */
.text-center {
    text-align:center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* margin */
.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 0.5em !important;
}

.m-2 {
    margin: 1em !important;
}

.m-3 {
    margin: 1.5em !important;
}

.m-4 {
    margin: 2em !important;
}

.m-5 {
    margin: 2.5em !important;
}

/* margin left */
.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: 0.5em !important;
}

.ml-2 {
    margin-left: 1em !important;
}

.ml-3 {
    margin-left: 1.5em !important;
}

.ml-4 {
    margin-left: 2em !important;
}

.ml-5 {
    margin-left: 2.5em !important;
}

/* margin right */
.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: 0.5em !important;
}

.mr-2 {
    margin-right: 1em !important;
}

.mr-3 {
    margin-right: 1.5em !important;
}

.mr-4 {
    margin-right: 2em !important;
}

.mr-5 {
    margin-right: 2.5em !important;
}


/* margin top */
.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.5em !important;
}

.mt-2 {
    margin-top: 1em !important;
}

.mt-3 {
    margin-top: 1.5em !important;
}

.mt-4 {
    margin-top: 2em !important;
}

.mt-5 {
    margin-top: 2.5em !important;
}

/* margin bottom */
.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.5em !important;
}

.mb-2 {
    margin-bottom: 1em !important;
}

.mb-3 {
    margin-bottom: 1.5em !important;
}

.mb-4 {
    margin-bottom: 2em !important;
}

.mb-5 {
    margin-bottom: 2.5em !important;
}

/* margin horizontally */
.mx-0 {
    margin-inline: 0 !important;
}

.mx-1 {
    margin-inline: 0.5em !important;
}

.mx-2 {
    margin-inline: 1em !important;
}

.mx-3 {
    margin-inline: 1.5em !important;
}

.mx-4 {
    margin-inline: 2em !important;
}

.mx-5 {
    margin-inline: 2.5em !important;
}

/* margin vertically */
.my-0 {
    margin-block: 0 !important;
}

.my-1 {
    margin-block: 0.5em !important;
}

.my-2 {
    margin-block: 1em !important;
}

.my-3 {
    margin-block: 1.5em !important;
}

.my-4 {
    margin-block: 2em !important;
}

.my-5 {
    margin-block: 2.5em !important;
}

/* padding */
.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 0.5em !important;
}

.p-2 {
    padding: 1em !important;
}

.p-3 {
    padding: 1.5em !important;
}

.p-4 {
    padding: 2em !important;
}

.p-5 {
    padding: 2.5em !important;
}

/* containers */
.container-fluid {
    width: auto;
}

.container {
  margin-left: 2em;
  margin-right: 2em;
}

/* background colors */

.transparent {
  background-color: transparent;
}

.blue {
    background-color: royalblue;
}

.red {
    background-color: rgb(255, 60, 60)
}

.orange {
    background-color: rgb(255, 100, 44);
}

.green {
    background-color: rgb(29, 170, 29);
}

.dark {
    background-color: rgb(46, 46, 46);
}

.white {
    background-color: white;
}

.yellow {
    background-color: rgb(211, 211, 0);
}

.gray {
    background-color: gray;
}

/* text colors */
.text-primary {
    color:rgb(65, 112, 255);
}

.text-red {
    color: rgb(255, 60, 60);
}

.text-green {
    color: rgb(30, 190, 30); 
}

.text-orange {
    color: rgb(255, 126, 79);
}

.text-dark {
    color: rgb(46, 46, 46);
}

.text-white {
    color:white;
}

.text-yellow {
    color: rgb(230, 230, 0);
}

.text-gray {
    color: gray;
}

/* width */
.w-25 {
    width: 25%; 
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

/* vertical height */
.vh-100 {
    min-height: 100vh;
}

/* height */
.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}

/* remove default href, ul, li */
a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
}

/* btn */
.btn {
    height:40px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    color: white;
    text-transform:uppercase;
    border: none;
}

.nav-item a[class="btn"] {
    background-color: gray;
    height:40px;
    text-decoration: none;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.739);
}

.nav-item a[class="btn"]:hover {
    color: rgba(255, 255, 255, 0.952);
}

 a:-moz-any(.btn) {
    height:40px;
    width: 100%;
    text-decoration: none;
    border-radius: 3px;
    color: white;
    padding: 0.5em;
}

 a:-webkit-any(.btn) {
    height:40px;
    width: 100%;
    text-decoration: none;
    border-radius: 3px;
    color: white;
    padding: 10px;
}

/* cards (incomplete)*/
/* should be fixed */
.card {
    border: 0.5px solid gray;
    box-sizing: border-box;
    box-shadow: 0px 3px 0px 0px lightgrey;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.card-content {
    padding: 10px;
    margin-block: 10px;
}

.card-title {
    font-size: 20px;
    font-weight: 500;
    border-bottom: 0.3px solid rgb(164, 164, 164); 
}

.card-body {
    margin: 10px;
}

.card-footer {
    border-top:  0.3px solid rgb(164, 164, 164);
    padding-top: 15px;
    margin-top: 10px;
}

/* grid */
 .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    width: auto;
}

  /* columns */
.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;
}

.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}
  
    /*grid gap  */
.gap-none {
    grid-gap:0px;
}

.gap-1 {
    grid-gap: 5px;
}

.gap-2 {
    grid-gap: 10px;
}

.gap-3 {
    grid-gap:15px;
}

.gap-4{
    grid-gap:20px;
}

.gap-5 {
    grid-gap:25px;
}

/* column gap */
.col-gap-1 {
    grid-gap: 5px;
}

.col-gap-2 {
    grid-gap: 10px;
}

.col-gap-3 {
    grid-gap:15px;
}

.col-gap-4{
    grid-gap:20px;
}

.col-gap-5 {
    grid-gap:25px;
}

/* row gap */
.row-gap-1 {
    grid-gap: 5px;
}

.row-gap-2 {
    grid-gap: 10px;
}

.row-gap-3 {
    grid-gap:15px;
}

.row-gap-4 {
    grid-gap:20px;
}

.row-gap-5 {
    grid-gap:25px;
}

/* spinner */
.spinner-container {
    display: flex;
    justify-content: center;
}

.spinner-container::after{
    content: "";
    height:auto;
    width: auto;
    border: 10px solid transparent;    
    border-bottom-color: rgb(0, 201, 0);
    border-top-color: rgb(0, 201, 0);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

/* borders */
.border-none {
    border: none;
}

.border-sm-dark {
    border: thin solid rgb(46, 46, 46);
}

.border-lg-dark {
    border: thick solid rgb(46, 46, 46);
}

.border-sm-red {
    border: thin solid rgb(255, 60, 60);
}

.border-lg-red {
    border: thick solid rgb(255, 60, 60);
}

.border-sm-blue {
    border: thin solid rgb(36, 91, 255);
}

.border-lg-blue {
    border: thick solid rgb(36, 91, 255);
}

.border-sm-green {
    border: thin solid rgb(29, 170, 29);
}

.border-lg-green {
    border: thick solid rgb(29, 170, 29);
}

.border-sm-orange {
    border: thin solid rgb(255, 120, 71);
}

.border-lg-orange {
    border: thick solid rgb(255, 120, 71);
}

.border-radius-25 {
    border-radius: 25%;
}

.border-radius-50 {
    border-radius: 50%;
}

.border-radius-75 {
    border-radius: 75%;
}

.border-radius-100 {
    border-radius: 100%;
}

.border-radius-sm {
    border-radius: 5px;
}

.border-radius-md {
    border-radius: 10px;
}

.border-radius-lg {
    border-radius: 15px;
}

/* float */
.left {
    float:left !important;
}

.right {
    float: right !important;
}

.center {
    text-align: center;
}

/* justify */
.justify-content-start {
  justify-content: start;
}

.justify-content-center {
    display:grid;
    justify-content: center;
}

.justify-content-end {
    display:grid;
    justify-content: end;
}

/* align */
.align-items-start {
    display:grid;
    align-items: flex-start;
}

.align-items-center {
    display:grid;
    align-items: center;
}

.align-items-end {
    display:grid;
    align-items: flex-end;
}

/* font weight */
.fw-100 {
    font-weight:100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight:500
}

.fw-600 {
    font-weight:600;
}

.fw-700 {
    font-weight:700;
}

.fw-800 {
    font-weight:800;
}

.fw-900 {
    font-weight:900;
}

.fw-bold {
    font-weight: bold;
}

.fw-light {
  font-weight: lighter;
}

.fw-strong {
    font-weight: bolder;
}

/* text styles/decorations */
.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

/* font size */
.text-sm {
    font-size: small;
}

.text-md {
    font-size: medium;
}

.text-lg {
    font-size: large;
}

.text-xl {
    font-size: x-large;
}

.text-upper {
    text-transform: uppercase;
}

.text-lower {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.footer, footer {
    position: relative;
    bottom:0;
    width: auto;
}


/* positions */
.p-relative {
    position: relative;
}

.p-fixed {
    position: fixed;
}

.p-absolute {
    position: absolute;
}

.p-sticky {
    position: sticky;
}

.p-static {
    position: static;
}


/* table */

/* (should be fixed) */

table {

    width:100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0px;
    overflow-wrap: break-word;

}

th {
    font-weight: medium;    
    border-bottom: 2px solid lightgray;
    padding-bottom: 10px;
    font-family: 'Open sans';
}


td {
    padding-block: 20px;
    font-family: Roboto, sans-serif;
}

.table tbody tr {
    background-color: none;
    border-bottom: thin solid lightgray;
    padding:5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: lightgray; 
}



/* alerts */

.alert {
    border-radius: 3px;
    padding: 5px;
    color: white;
    width: auto;
    position: relative;
    margin: 0;
}

.alert:-moz-any(.dark)  {
    border-left: 10px gray;
    border-left-style:groove;
}

.alert:-webkit-any(.dark) {
    border-left: 10px gray;
    border-left-style:groove;
}

.alert:-moz-any(.red)  {
    border-left: 10px red;
    border-left-style:groove;
}

.alert:-webkit-any(.red) {
    border-left: 10px red;
    border-left-style:groove;
}

.alert:-moz-any(.blue)  {
    border-left: 10px blue;
    border-left-style:groove;
}

.alert:-webkit-any(.blue) {
    border-left: 10px blue;
    border-left-style:groove;
}


.alert:-moz-any(.green)  {
    border-left: 10px green;
    border-left-style:groove;
}

.alert:-webkit-any(.green) {
    border-left: 10px green;
    border-left-style:groove;
}


.alert:-moz-any(.orange)  {
    border-left: 10px rgb(255, 136, 0);
    border-left-style:groove;
}

.alert:-webkit-any(.orange) {
    border-left: 10px rgb(255, 136, 0);
    border-left-style:groove;
}


.alert:-moz-any(.yellow)  {
    border-left: 10px yellow;
    border-left-style:groove;
}

.alert:-webkit-any(.yellow) {
    border-left: 10px yellow;
    border-left-style:groove;
}

.alert:-moz-any(.gray)  {
    border-left: 10px lightgray;
    border-left-style:groove;
}

.alert:-webkit-any(.gray) {
    border-left: 10px lightgray;
    border-left-style:groove;
}


.alert-msg {
    
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;

}

.alert-close {

    text-align: end;
    font-family: 'Courier New';
    font-size:medium;
    width: 100%;
    margin-block: 5px;
    margin-right: 10px;
    padding:1px;

}

.alert .btn {
    text-align: center;
}
