
/* bg color variables */
:root {
 
    --dark: rgb(46, 46, 46);
    --blue: rgb(49, 100, 252);
    --red: rgb(255, 45, 45);
    --orange:rgb(255, 114, 20);
    --green: rgb(23, 160, 23);
    --white: white;
    --yellow: rgb(248, 248, 0);
    --gray: gray;
    --darkgray: rgb(90, 90, 90);
    --lightgray: lightgray;
    --purple: rgb(168, 0, 168);
    --pink: rgb(255, 60, 151);
    --lightblue: rgb(0, 191, 255);
    --lightgreen: rgb(0, 192, 0);

}

/* remove defaults in body */
body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    width: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* remove default href, ul, li */
ul, li {
    list-style: none;
    text-decoration: none;
    outline:none;
}

p {
    margin: 0;
    padding:0;
}

a {
    display:block;
    font-size: 16px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

button {
    font-size: 16px;
}

/* background colors */
.dark {
    background: var(--dark);
}

.blue {
    background: var(--blue);
}

.lightblue {
    background: var(--lightblue);
}

.red {
    background: var(--red);
}

.green {
    background: var(--green);
}

.lightgreen {
    background: var(--lightgreen);
}

.orange {
    background: var(--orange);
}

.yellow {
    background: var(--yellow);
}

.gray {
    background: var(--gray);
}

.darkgray {
    background: var(--darkgray);
}

.lightgray {
    background: var(--lightgray);
}

.purple {
    background: var(--purple);
}

.pink {
    background: var(--pink);
}

.white {
    background: var(--white);
}

/* navbar (incomplete) */
/* should be fixed with nav-menu alignment */
.navbar {

    height:70px;
    line-height: 70px;
    width: 100%;
    position: relative;
    box-shadow: 0px 10px 20px solid var(--gray);
    box-sizing: border-box;

}

/* align navbar items inline */
.navbar .container-fluid, 
.navbar .container {
    display: inline;
}

/* if navbar is white */
.navbar:matches(.white) {
    color: var(--dark);
}

.logo, .logo span, .logo p, .logo i {
    font-size: 20px;
    color: var(--white);
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin-right: 10px;
}

.logo p {
    margin:0;
}

.nav-menu {
    margin-block: 0;
    position: relative;
}

.nav-menu li {
    display: inline-block;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: var(--lightgray);
    margin-inline: 10px;
}

.nav-item a:hover {
    color: var(--white);
    transition: 0.7s;
}

.navbar .right {
    margin-right: 10px;
}

/* display */

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-inline {
    display: inline !important;
}

.d-flex {
    display: flex !important;
}

.d-inline-flex {
    display: inline-flex !important;
}

/* forms (incomplete)  */
/* input decoration (borders, width and height) should be fixed */

.form-control {

    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border:thin solid var(--lightgray);
    border-radius: 5px;

}

.input-field input[type="file"] {

    width: 100%;
    padding-top: 15px;
    margin-left: 0;
    padding-left: 10px;

}

.textarea-control {

    width: 100%;
    height: 100px;
    box-sizing: border-box;

}

.form-control::placeholder, .textarea-control::placeholder {
    font-size:medium;
}

form {
    width: auto;
}

textarea {

    resize: none;
    height: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* navbar form */
.navbar form {
    display: inline-flex;
}

.navbar form .input-field {
    box-sizing: border-box;
    border: none;
    margin-inline: 5px;
}

.navbar form .form-control {

    height:40px;
    padding: 5px;
    border-radius: 5px;
    border: none;

}

.navbar form button, 
.navbar form input[type="submit"], 
.navbar form a {
    
    height:40px;
    padding: 5px;
    border:none;
    
}

/* text alignment */
.text-center {
    text-align:center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* margin */
.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 0.5em !important;
}

.m-2 {
    margin: 1em !important;
}

.m-3 {
    margin: 1.5em !important;
}

.m-4 {
    margin: 2em !important;
}

.m-5 {
    margin: 2.5em !important;
}

/* margin left */
.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: 0.5em !important;
}

.ml-2 {
    margin-left: 1em !important;
}

.ml-3 {
    margin-left: 1.5em !important;
}

.ml-4 {
    margin-left: 2em !important;
}

.ml-5 {
    margin-left: 2.5em !important;
}

/* margin right */
.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: 0.5em !important;
}

.mr-2 {
    margin-right: 1em !important;
}

.mr-3 {
    margin-right: 1.5em !important;
}

.mr-4 {
    margin-right: 2em !important;
}

.mr-5 {
    margin-right: 2.5em !important;
}


/* margin top */
.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.5em !important;
}

.mt-2 {
    margin-top: 1em !important;
}

.mt-3 {
    margin-top: 1.5em !important;
}

.mt-4 {
    margin-top: 2em !important;
}

.mt-5 {
    margin-top: 2.5em !important;
}

/* margin bottom */
.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.5em !important;
}

.mb-2 {
    margin-bottom: 1em !important;
}

.mb-3 {
    margin-bottom: 1.5em !important;
}

.mb-4 {
    margin-bottom: 2em !important;
}

.mb-5 {
    margin-bottom: 2.5em !important;
}

/* margin horizontally */
.mx-0 {
    margin-inline: 0 !important;
}

.mx-1 {
    margin-inline: 0.5em !important;
}

.mx-2 {
    margin-inline: 1em !important;
}

.mx-3 {
    margin-inline: 1.5em !important;
}

.mx-4 {
    margin-inline: 2em !important;
}

.mx-5 {
    margin-inline: 2.5em !important;
}

/* margin vertically */
.my-0 {
    margin-block: 0 !important;
}

.my-1 {
    margin-block: 0.5em !important;
}

.my-2 {
    margin-block: 1em !important;
}

.my-3 {
    margin-block: 1.5em !important;
}

.my-4 {
    margin-block: 2em !important;
}

.my-5 {
    margin-block: 2.5em !important;
}

/* padding */
.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 0.5em !important;
}

.p-2 {
    padding: 1em !important;
}

.p-3 {
    padding: 1.5em !important;
}

.p-4 {
    padding: 2em !important;
}

.p-5 {
    padding: 2.5em !important;
}

/* containers */
.container-fluid {
    width: auto;
}

.container {
  margin-inline: 2em;
  margin-block: 2em;
}

/* background colors */

.transparent {
  background-color: transparent;
}


/* text colors */
.text-blue {
    color:var(--blue) !important;
}

.text-red {
    color: var(--red) !important;
}

.text-green {
    color: var(--green) !important; 
}

.text-orange {
    color: var(--orange) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-white {
    color:var(--white) !important;
}

.text-yellow {
    color: var(--yellow) !important;
}

.text-gray {
    color: var(--gray) !important;
}

.text-purple {
    color: var(--purple) !important;
}

.text-pink {
    color: var(--pink) !important;
}

.text-lightblue {
    color: var(--lightblue) !important;
}

.text-lightgreen {
    color: var(--lightgreen) !important;
}


/* width */
.w-25 {
    width: 25% !important; 
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

/* vertical height */
.vh-100 {
    min-height: 100vh;
}

/* height */
.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}


/* buttons */
.btn {

    height:40px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    color: var(--white);
    text-transform:uppercase;
    border: none;
    width: auto;

}

.nav-item a:is(.btn) {

    background-color: var(--gray);
    text-decoration: none;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.7);
    height: 35px;
    display: inline;
    text-align: center;
    padding:10px;

}

.nav-item a:is(.btn):hover, 
.nav-item button:is(.btn):hover {
    color: var(--white);
    box-shadow: none;
}

.btn:hover {
    box-shadow: 0px 0px 2px 0px var(--gray);
}

/* cards (incomplete)*/
/* should be fixed */
.card {
    
    border: thin solid var(--lightgray);
    box-shadow: 0px 0px 10px var(--lightgray);
    background-color: var(--white);
    width: 100%;
    border-radius: 20px;
    text-overflow: ellipsis;
    overflow-wrap: break-word;

}

.card-content {
    padding: 10px;
    margin-block: 10px;
}

.card-img {
    width:100%;
    height:fit-content;
    position: relative;
    padding-bottom: 5px;
    margin: 0;
}

.card-title {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 0.3px solid var(--lightgray); 
}

.card-body {
    margin: 10px;
}

.card-footer {
    border-top:  0.3px solid var(--lightgray);
    padding-top: 15px;
    margin-top: 10px;
}

/* grid */
 .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);

}

  /* columns */
.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;
}

.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}
  
    /*grid gap  */
.gap-none {
    grid-gap:0px;
}

.gap-1 {
    grid-gap: 5px;
}

.gap-2 {
    grid-gap: 10px;
}

.gap-3 {
    grid-gap:15px;
}

.gap-4{
    grid-gap:20px;
}

.gap-5 {
    grid-gap:25px;
}

/* column gap */
.col-gap-1 {
    grid-gap: 5px;
}

.col-gap-2 {
    grid-gap: 10px;
}

.col-gap-3 {
    grid-gap:15px;
}

.col-gap-4{
    grid-gap:20px;
}

.col-gap-5 {
    grid-gap:25px;
}

/* row gap */
.row-gap-1 {
    grid-gap: 5px;
}

.row-gap-2 {
    grid-gap: 10px;
}

.row-gap-3 {
    grid-gap:15px;
}

.row-gap-4 {
    grid-gap:20px;
}

.row-gap-5 {
    grid-gap:25px;
}

/* spinner */
.spinner-container {
    display: flex;
    justify-content: center;
}

.spinner-container::after{
    content: "";
    height: 50px;
    width: 50px;
    border: 10px solid transparent;    
    border-bottom-color: var(--blue);
    border-top-color: var(--blue);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

/* borders */
.border-none {
    border: none;
}

.border-dark {
    border-color: var(--dark);
    border-style: solid;
}

.border-red {
    border-color:var(--red);
    border-style: solid;
}

.border-blue {
    border-color:var(--blue);
    border-style: solid;
}

.border-lightblue {
    border-color:var(--lightblue);
    border-style: solid;
}

.border-green {
    border-color: var(--green);
    border-style: solid;
}

.border-lightgreen {
    border-color: var(--lightgreen);
    border-style: solid;
}

.border-orange {
    border-color: var(--orange);
    border-style: solid;
}

.border-yellow {
    border-color: var(--yellow);
    border-style: solid;
}

.border-gray {
    border-color: var(--gray);
    border-style: solid;
}

.border-darkgray {
    border-color: var(--darkgray);
    border-style: solid;
}

.border-lightgray {
    border-color: var(--lightgray);
    border-style: solid;
}

.border-purple {
    border-color: var(--purple);
    border-style: solid;
}

.border-pink {
    border-color: var(--pink);
    border-style: solid;
}

/* border width */
.border-0 {
    border-width: 0em;
}

.border-1 {
    border-width: 0.1em;
}

.border-2 {
    border-width: 0.2em;
}

.border-3 {
    border-width: 0.3em;
}

.border-4 {
    border-width: 0.4em;
}

.border-5 {
    border-width: 0.5em;
}

/* border radius */
.round-25 {
    border-radius: 25%;
}

.round-50 {
    border-radius: 50%;
}

.round-75 {
    border-radius: 75%;
}

.round-100 {
    border-radius: 100%;
}

.round-sm {
    border-radius: 5px;
}

.round-md {
    border-radius: 10px;
}

.round-lg {
    border-radius: 15px;
}

/* float */
.left {
    float:left !important;
}

.right {
    float: right !important;
}

.center {
    text-align: center;
}

/* justify */
.justify-content-start {
  justify-content: start;
}

.justify-content-center {
    display:grid;
    justify-content: center;
}

.justify-content-end {
    display:grid;
    justify-content: end;
}

/* align */
.align-items-start {
    display:grid;
    align-items: flex-start;
}

.align-items-center {
    display:grid;
    align-items: center;
}

.align-items-end {
    display:grid;
    align-items: flex-end;
}

/* font weight */
.fw-100 {
    font-weight:100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight:500
}

.fw-600 {
    font-weight:600;
}

.fw-700 {
    font-weight:700;
}

.fw-800 {
    font-weight:800;
}

.fw-900 {
    font-weight:900;
}

.fw-bold {
    font-weight: bold;
}

.fw-light {
  font-weight: lighter;
}

.fw-strong {
    font-weight: bolder;
}

/* text styles/decorations */
.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

/* font size */
.text-sm {
    font-size: small;
}

.text-md {
    font-size: medium;
}

.text-lg {
    font-size: large;
}

.text-xl {
    font-size: x-large;
}

.text-upper {
    text-transform: uppercase;
}

.text-lower {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.footer, 
footer {
    position: relative;
    bottom:0;
    width: auto;
}


/* positions */
.p-relative {
    position: relative;
}

.p-fixed {
    position: fixed;
}

.p-absolute {
    position: absolute;
}

.p-sticky {
    position: sticky;
}

.p-static {
    position: static;
}


/* table */

/* (should be fixed) */

table {

    width:100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0px;
    overflow-wrap: break-word;

}

th {
    font-weight: medium;    
    border-bottom: 2px solid var(--lightgray);
    padding-bottom: 10px;
    font-family: 'Open sans';
}


td {
    padding-block: 20px;
    font-family: Roboto, sans-serif;
}

.table tbody tr {
    background-color: none;
    border-bottom: thin solid var(--lightgray);
    padding:5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: var(--lightgray); 
}



/* alerts */
.alert {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    border-radius: 3px;
    color: var(--white);
    width: auto;
    position: relative;
    margin: 0;
}

.alert-dark  {
    border-left: 20px var(--dark);
    border-left-style:groove;
    background-color: var(--dark);
}

.alert-red  {
    border-left: 20px var(--red);
    border-left-style:groove;
    background-color: var(--red);
}

.alert-blue {
    border-left: 20px var(--blue);
    border-left-style:groove;
    background-color: var(--blue);
}

.alert-green {
    border-left: 20px var(--green);
    border-left-style:groove;
    background-color: var(--green);
}

.alert-orange {
    border-left: 20px var(--orange);
    border-left-style:groove;
    background-color: var(--orange);
}

.alert-yellow {
    border-left: 20px var(--yellow);
    border-left-style:groove;
    background-color: var(--yellow);

}

.alert-gray {
    border-left: 20px var(--lightgray);
    border-left-style:groove;
    background-color: var(--lightgray);
}

.alert-purple {
    border-left: 20px var(--purple);
    border-left-style:groove;
    background-color: var(--purple);
}

.alert-darkgray {
    border-left: 20px var(--darkgray);
    border-left-style:groove;
    background-color: var(--darkgray);
}

.alert-pink {
    border-left: 20px var(--pink);
    border-left-style:groove;
    background-color: var(--pink);
}

.alert-lightblue {
    border-left: 20px var(--lightblue);
    border-left-style:groove;
    background-color: var(--lightblue);
}

.alert-lightgreen {
    border-left: 20px var(--lightgreen);
    border-left-style:groove;
    background-color: var(--lightgreen);
}

.alert-msg {
    
    grid-column: span 11;
    text-overflow: clip;
    overflow-wrap: break-word;
    margin: 5px 5px;
    
}

.alert-close {

    display: grid;
    grid-column: span 1;
    font-family: 'Courier New';
    background: var(--dark);
    min-height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.alert-close a, .alert-close span {

    font-size:x-large;
    height: auto;
    position: relative;
    width: auto;

}


/* modals */
.modal {
 
    background: rgb(46, 46, 46, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 999;
    position: fixed;
    top: 0;

}

.modal-box {

    display: block;
    background-color:  var(--white);
    border: thin solid var(--lightgray);
    border-radius: 5px;
    margin-inline: 80px;
    width: auto;
    z-index: 999;
    position: fixed;
    top: 30px;
    /* box-shadow: 0px 0px 3px 0px var(--gray); */
    box-sizing:content-box;
    float:none !important;

}

.modal-content {
    padding-inline:20px;
    padding-block: 20px;
}

.modal-title{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, sans-serif;
    border-bottom: thin solid var(--lightgray);
    padding-bottom: 5px;
}

.modal-body {
    padding-top: 10px;
    margin-bottom: 20px;
}

.modal-footer {
    border-top: thin solid var(--lightgray);
    padding-top: 15px;
    text-align:right;
}


/* grid system for devices */

/* mobile screens */
@media screen and (max-width: 480px) {

    /* columns */
    .col-sm-1 {
        grid-column: span 1;
    }
    .col-sm-2 {
        grid-column: span 2;
    }
    .col-sm-3 {
        grid-column: span 3;
    }
    .col-sm-4 {
        grid-column: span 4;
    }
    .col-sm-5 {
        grid-column: span 5;
    }
    .col-sm-6 {
        grid-column: span 6;
    }
    .col-sm-7 {
        grid-column: span 7;
    }
    .col-sm-8 {
        grid-column: span 8;
    }
    .col-sm-9 {
        grid-column: span 9;
    }
    .col-sm-10 {
        grid-column: span 10;
    }
    .col-sm-11 {
        grid-column: span 11;
    }
    .col-sm-12 {
        grid-column: span 12;
    }

    /* display */
    .d-sm-none {
        display: none;
    }

    .d-sm-block {
        display: block;
    }

    .d-sm-inline {
        display: inline;
    }

    .d-sm-inline-block {
        display: inline-block;
    }

    .d-sm-inline-flex {
        display: inline-flex;
    }

    .d-sm-flex {
        display: flex;
    }

    .d-sm-grid {
        display: grid;
    }

    /* nav expand */
    .nav-expand-sm .nav-menu {
        display:block;
    }
    
}

/* tablet screen */
@media screen and (min-width: 480px) {

    /* columns */
    .col-md-1 {
        grid-column: span 1;
     }
     .col-md-2 {
        grid-column: span 2;
     }
     .col-md-3 {
        grid-column: span 3;
     }
     .col-md-4 {
        grid-column: span 4;
     }
     .col-md-5 {
        grid-column: span 5;
     }
     .col-md-6 {
        grid-column: span 6;
     }
     .col-md-7 {
        grid-column: span 7;
     }
     .col-md-8 {
        grid-column: span 8;
     }
     .col-md-9 {
        grid-column: span 9;
     }
     .col-md-10 {
        grid-column: span 10;
     }
     .col-md-11 {
        grid-column: span 11;
     }
     .col-md-12 {
        grid-column: span 12;
     }

    /* display */
    .d-md-none {
        display: none;
    }

    .d-md-block {
        display: block;
    }

    .d-md-inline {
        display: inline;
    }

    .d-md-inline-block {
        display: inline-block;
    }

    .d-md-inline-flex {
        display: inline-flex;
    }

    .d-md-flex {
        display: flex;
    }

    .d-md-grid {
        display: grid;
    }

    /* nav expand */
    .nav-expand-md .nav-menu {
        display:block;
    }

}

/* laptop or desktop screen*/
@media screen and (min-width: 1024px) {

    /* columns */
    .col-lg-1 {
        grid-column: span 1;
     }
     .col-lg-2 {
        grid-column: span 2;
     }
     .col-lg-3 {
        grid-column: span 3;
     }
     .col-lg-4 {
        grid-column: span 4;
     }
     .col-lg-5 {
        grid-column: span 5;
     }
     .col-lg-6 {
        grid-column: span 6;
     }
     .col-lg-7 {
        grid-column: span 7;
     }
     .col-lg-8 {
        grid-column: span 8;
     }
     .col-lg-9 {
        grid-column: span 9;
     }
     .col-lg-10 {
        grid-column: span 10;
     }
     .col-lg-11 {
        grid-column: span 11;
     }
     .col-lg-12 {
        grid-column: span 12;
     }

    /* display */
    .d-lg-none {
        display: none;
    }

    .d-lg-block {
        display: block;
    }

    .d-lg-inline {
        display: inline;
    }

    .d-lg-inline-block {
        display: inline-block;
    }

    .d-lg-inline-flex {
        display: inline-flex;
    }

    .d-lg-flex {
        display: flex;
    }

    .d-lg-grid {
        display: grid;
    }

    /* navbar expand */

    .nav-expand-lg .nav-menu {
            display:block;
    }

}

/* images */
img {

    image-rendering: optimizeSpeed;
    width: 100%;
    padding: 0;
    margin: 0;

}

.img-responsive {
    width: 100%; 
    height: auto;
    object-fit: cover;
}


/* shadows */
.shadow-sm {
    box-shadow: 0px 0px 3px var(--gray);
}

.shadow-md {
    box-shadow: 0px 0px 6px var(--gray);
}

.shadow-lg {
    box-shadow: 0px 0px 12px var(--gray);
}

/* loding bar */
.loading-bar {
    
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: var(--lightgray);
    border-radius: 5px;
    padding:0;
    margin:0;
    border-spacing: 0;
    overflow: hidden;

}

.loading-progress {
    
    padding: 5px;
    width: auto;
    border-radius: 2.5px;
    animation: load 5s linear infinite;
    
}

/* @keyframes load {
    0% {
        width: 0%;
    }
    25% {
        width: 25%;
    }
    50% {
        width: 50%;
    }
    75% {
        width: 75%;
    }
    100% {
        width:  100%;
    }
} */


/* sidenav */

.sidenav {

  border-bottom: 2px solid var(--dark);
  width: 300px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  color: var(--dark);  
  margin: 0;
  padding: 0;
  z-index: 999;
  background-color: var(--white);

}

.sidenav-section {

    min-height: 70px;
    border-bottom: 2px solid var(--lightgray);

}

.sidenav-title {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--dark);
    width:100%;
    height: auto;

}

.sidenav-item {

    height:auto;
    width: 100%;
    
}

.sidenav-item:hover, 
.sidenav-link:hover {

    background: var(--lightgray);
    color: var(--dark);

}

.sidenav-link {

    color:var(--dark);
    display: block;
    width:auto;
    height: 100%;
    padding: 20px;
    font-size:18px;

}

.sidenav-item a:active {
    color: var(--green);
}

/* if navbar is dark */

.sidenav:is(.dark), 
.dark .sidenav-title  {

    background: var(--dark) !important;
    color: var(--white);

}

.dark .sidenav-section {
    border-bottom: 2px solid var(--white);
}

.sidenav:is(.dark), .dark .sidenav-title {
  
    background: var(--dark) !important;
    color: var(--white);

}

.dark .sidenav-item:hover, 
.dark .sidenav-link:hover {
    
    background: var(--white);
    color: var(--dark);

}

.dark .sidenav-link {

    color:white;

}

/* avatar */
.avatar img {
    
    border-radius: 100%;
    width: 70px;
    height: 70px;
    text-align: center;
    background-position: center;
    background-size: contain;
    image-rendering: optimizeQuality;
    
}
