/* variables */
:root {
 
    --dark: rgb(45, 45, 45);
    --blue: rgb(35, 90, 255);
    --red: rgb(255, 30, 30);
    --orange:rgb(255, 102, 0);
    --green: rgb(0, 150, 0);
    --white: white;
    --yellow: rgb(221, 221, 1);
    --gray: gray;
    --darkgray: rgb(90, 90, 90);
    --lightgray: lightgray;
    --purple: rgb(168, 0, 168);
    --pink: rgb(255, 60, 151);
    --lightblue: rgb(0, 176, 235);
    --lightgreen: rgb(0, 180, 0);
    --default-btn: rgb(0, 143, 71);
    --font-family: Verdana, Geneva, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue';
    
}