/* remove browser defaults */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: auto;
    box-sizing: content-box;
    font-family: sans-serif, Arial;
}

/* remove default href, ul, li */
ul, li {
    list-style: none;
    text-decoration: none;
    outline:none;
}

p {
    margin: 0;
    padding:0;
}

a, button  {

    text-decoration: none;
    padding: 0;
    margin:0;
    outline: none;
    display: inline-block;

}

form {
    width: auto;
    margin:0;
    padding: 0;
}

textarea {

    resize: none;
    height: 100px;

}

img {

    max-width: 100%;
    padding: 0;
    margin: 0;

}

table {

    width:100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0px;
    overflow-wrap: break-word;

}

th {

    font-weight: medium;    
    border-bottom: 2px solid var(--lightgray);
    padding-bottom: 10px;
    font-family: 'Open sans';
}

td {
    padding-block: 20px;
    font-family: sans-serif, Roboto;
}

input, textarea {
    accent-color: var(--blue);
}

::-webkit-file-upload-button {
    text-align: center;
}
