/* media device queries (should be fixed)*/

/*extra small screens */
@media screen and (width <= 480px) {
    /* columns */
    .col-xs-1 {
        grid-column: span 1;
    }
    .col-xs-2 {
        grid-column: span 2;
    }
    .col-xs-3 {
        grid-column: span 3;
    }
    .col-xs-4 {
        grid-column: span 4;
    }
    .col-xs-5 {
        grid-column: span 5;
    }
    .col-xs-6 {
        grid-column: span 6;
    }
    .col-xs-7 {
        grid-column: span 7;
    }
    .col-xs-8 {
        grid-column: span 8;
    }
    .col-xs-9 {
        grid-column: span 9;
    }
    .col-xs-10 {
        grid-column: span 10;
    }
    .col-xs-11 {
        grid-column: span 11;
    }
    .col-xs-12 {
        grid-column: span 12;
    }

    /* display */
    .d-xs-none {
        display: none;
    }

    .d-xs-block {
        display: block;
    }

    .d-xs-inline {
        display: inline;
    }

    .d-xs-inline-block {
        display: inline-block;
    }

    .d-xs-inline-flex {
        display: inline-flex;
    }

    .d-xs-flex {
        display: flex;
    }

    .d-xs-grid {
        display: grid;
    }

    /* sidenav adjust */
    .sidenav-content {
        width: 300px;
    }

}

/* small screens */
@media screen and (width < 576px) {

    /* columns */
    .col-sm-1 {
        grid-column: span 1;
    }
    .col-sm-2 {
        grid-column: span 2;
    }
    .col-sm-3 {
        grid-column: span 3;
    }
    .col-sm-4 {
        grid-column: span 4;
    }
    .col-sm-5 {
        grid-column: span 5;
    }
    .col-sm-6 {
        grid-column: span 6;
    }
    .col-sm-7 {
        grid-column: span 7;
    }
    .col-sm-8 {
        grid-column: span 8;
    }
    .col-sm-9 {
        grid-column: span 9;
    }
    .col-sm-10 {
        grid-column: span 10;
    }
    .col-sm-11 {
        grid-column: span 11;
    }
    .col-sm-12 {
        grid-column: span 12;
    }

    /* display */
    .d-sm-none {
        display: none;
    }

    .d-sm-block {
        display: block;
    }

    .d-sm-inline {
        display: inline;
    }

    .d-sm-inline-block {
        display: inline-block;
    }

    .d-sm-inline-flex {
        display: inline-flex;
    }

    .d-sm-flex {
        display: flex;
    }

    .d-sm-grid {
        display: grid;
    }

    /* sidenav adjust */
    .sidenav-content {
        width: 400px;
    }

}

/* tablet screen */
@media screen and (width >= 576px)  {

    /* columns */
    .col-md-1 {
        grid-column: span 1;
     }
     .col-md-2 {
        grid-column: span 2;
     }
     .col-md-3 {
        grid-column: span 3;
     }
     .col-md-4 {
        grid-column: span 4;
     }
     .col-md-5 {
        grid-column: span 5;
     }
     .col-md-6 {
        grid-column: span 6;
     }
     .col-md-7 {
        grid-column: span 7;
     }
     .col-md-8 {
        grid-column: span 8;
     }
     .col-md-9 {
        grid-column: span 9;
     }
     .col-md-10 {
        grid-column: span 10;
     }
     .col-md-11 {
        grid-column: span 11;
     }
     .col-md-12 {
        grid-column: span 12;
     }

    /* display */
    .d-md-none {
        display: none;
    }

    .d-md-block {
        display: block;
    }

    .d-md-inline {
        display: inline;
    }

    .d-md-inline-block {
        display: inline-block;
    }

    .d-md-inline-flex {
        display: inline-flex;
    }

    .d-md-flex {
        display: flex;
    }

    .d-md-grid {
        display: grid;
    }

    /* sidenav adjust */
    .sidenav-content {
        width: 480px;
        
    }

    .sidenav-link {
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        overflow: hidden;
    }

}

/* laptop screen*/
@media screen and (width >= 992px) {

    /* columns */
    .col-lg-1 {
        grid-column: span 1;
     }
     .col-lg-2 {
        grid-column: span 2;
     }
     .col-lg-3 {
        grid-column: span 3;
     }
     .col-lg-4 {
        grid-column: span 4;
     }
     .col-lg-5 {
        grid-column: span 5;
     }
     .col-lg-6 {
        grid-column: span 6;
     }
     .col-lg-7 {
        grid-column: span 7;
     }
     .col-lg-8 {
        grid-column: span 8;
     }
     .col-lg-9 {
        grid-column: span 9;
     }
     .col-lg-10 {
        grid-column: span 10;
     }
     .col-lg-11 {
        grid-column: span 11;
     }
     .col-lg-12 {
        grid-column: span 12;
     }

    /* display */
    .d-lg-none {
        display: none;
    }

    .d-lg-block {
        display: block;
    }

    .d-lg-inline {
        display: inline;
    }

    .d-lg-inline-block {
        display: inline-block;
    }

    .d-lg-inline-flex {
        display: inline-flex;
    }

    .d-lg-flex {
        display: flex;
    }

    .d-lg-grid {
        display: grid;
    }

    /* sidenav adjust */
    .sidenav-content {
        width: 480px;
    }

}

/* desktop screen*/
@media screen and (width >= 1200px) {

    /* columns */
    .col-xl-1 {
        grid-column: span 1;
     }
     .col-xl-2 {
        grid-column: span 2;
     }
     .col-xl-3 {
        grid-column: span 3;
     }
     .col-xl-4 {
        grid-column: span 4;
     }
     .col-xl-5 {
        grid-column: span 5;
     }
     .col-xl-6 {
        grid-column: span 6;
     }
     .col-xl-7 {
        grid-column: span 7;
     }
     .col-xl-8 {
        grid-column: span 8;
     }
     .col-xl-9 {
        grid-column: span 9;
     }
     .col-xl-10 {
        grid-column: span 10;
     }
     .col-xl-11 {
        grid-column: span 11;
     }
     .col-xl-12 {
        grid-column: span 12;
     }

    /* display */
    .d-xl-none {
        display: none;
    }

    .d-xl-block {
        display: block;
    }

    .d-xl-inline {
        display: inline;
    }

    .d-xl-inline-block {
        display: inline-block;
    }

    .d-xl-inline-flex {
        display: inline-flex;
    }

    .d-xl-flex {
        display: flex;
    }

    .d-xl-grid {
        display: grid;
    }

    /* sidenav adjust */
    .sidenav-content {
        width: 720px;
    }

}
