/* should be fixed */
.dropdown {

    background: whitesmoke;
    border: thin solid var(--lightgray);
    padding-left: 0px;
    margin: 0px;
    z-index: 2;
    width:auto;
    position: absolute;
    display: none;
    overflow-x: hidden;
    height:0px;
    transition: height 1s ease-in-out;

}

.dropdown-link:hover {
    background-color: var(--lightgray);
}

.dropdown-item {
    border-bottom: thin solid var(--lightgray);
}

.dropdown-link {
    padding: 10px;
    color: var(--blue);
    width: 90%;
    text-align: center !important;
    text-overflow: clip;
    overflow-wrap: normal;
}

.show {
    display: block;
}

:focus-within(.dropdown) {
    display:none;
}