/* text styles/decorations */
.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

/* transform font */
.text-upper {
    text-transform: uppercase;
}

.text-lower {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}