.hover-blue:hover {
    background: var(--blue) !important;
    color: var(--white) !important;
    transition: all .3s;
}

.hover-red:hover {
    background: var(--red) !important;
    color: var(--white) !important;
    transition: all .3s;
}

.hover-green:hover {
    background: var(--green) !important;
    color: var(--white) !important;
    transition: all .3s;
}

.hover-orange:hover {
    background: var(--orange) !important;
    color: var(--white) !important;
    transition: all .3s;
}

.hover-lightblue:hover {
    background: var(--lightblue) !important;
    color: var(--white) !important;
    transition: all .3s;
}

.hover-yellow:hover {
    background: var(--yellow) !important;
    color: var(--white) !important;
    transition: all .3s;
}

.hover-pink:hover {
    background: var(--pink) !important;
    color: var(--white) !important;
    transition: all .3s;
}

.hover-purple:hover {
    background: var(--purple) !important;
    color: var(--white) !important;
    transition: all .3s;
}

.hover-gray:hover {
    background: var(--gray) !important;
    color: var(--white) !important;
    transition: all .3s;
}

.hover-darkgray:hover {
    background: var(--darkgray) !important;
    color: var(--white) !important;
    transition: all .3s;
}

.hover-lightgray:hover {
    background: var(--lightgray) !important;
    color: var(--dark) !important;
    transition: all .3s;
}

.hover-white:hover {
    background: var(--white) !important;
    color: var(--dark) !important;
    transition: all .3s;
}

.hover-navy:hover {
    background: var(--navy) !important;
    color: var(--white) !important;
    transition: all .3s;
}