/* icon menu */
.icon-menu {

    width: 100px;
    height: 100vh;
    background: var(--white);
    margin: 0;
    padding: 0;
    z-index: 1;
    position:fixed;
    top:0; 
    /* animation: toggleIconMenu 2s linear;
    animation-iteration-count: initial;
    translate: -82px 0px; */
    border: 1px solid var(--lightgray);
    border-left:none;
    border-block:none;
    overflow: auto;
    
}

.icon-nav-menu, 
.icon-item {

    list-style: none;
    width: auto;
    padding: 10px;
    color: var(--white) !important;
    display: block;

}

.icon-item {

  border: thin solid var(--lightgray);
  color: var(--white) !important;
  margin-block: 0.25em; 
  padding: 0;
  text-align: center;
  border-radius: 5px;

}

.icon-item .icon-link {

   width:auto; 
   height: 100%;
   display: block;
   padding:20px;
   color: var(--dark) !important;
   
}

.icon-link > * {

    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 16px;

}

.icon-link:hover {
    background: var(--lightgray);
    transition: all .5s;
}

.icon-menu:is(.dark, .blue, .red, .green, .orange, .lightblue, .yellow, .gray, .darkgray, .purple, .pink) .icon-nav-menu
.icon-link {
    color:var(--white) !important;
}

.icon-menu:is(.dark, .blue, .red, .green, .orange, .lightblue, .yellow, .gray, .darkgray, .purple, .pink) .icon-nav-menu .icon-link:hover {
    color: var(--dark) !important;
    background-color: var(--white);
    transition: all .5s;
 }

/* @keyframes toggleIconMenu {

    to {
        translate: 0 0;
        
    }

} */