/* icon menu */
.icon-menu {

    height: 100vh;
    background: var(--white);
    margin: 0;
    padding: 0;
    z-index: 1;
    position:fixed;
    top:0; 
    left:0;
    box-shadow: 0px 0px 10px solid gray;
    overflow: auto;
    overflow-x: hidden;
    translate: -300px 0px;
    transition: translate 0.3s;

}

.icon-nav-menu, 
.icon-item {

    list-style: none;
    width: auto;
    padding: 10px;
    color: var(--white) !important;
    display: block;

}

.icon-item {

  border: thin solid var(--lightgray);
  color: var(--white) !important;
  margin-block: 0.25em; 
  padding: 0;
  text-align: center;
  overflow:hidden;

}

.icon-link {

width: auto; 
height: 100%;
display: grid;
color: var(--dark) !important;
font-size: 24px;
padding:16px;
text-align: center;

}

.icon-link:hover {
    background: var(--lightgray);
    transition: all .3s ease;
}

.icon-menu:is(.dark, .blue, .red, .green, .orange, .lightblue, .yellow, .gray, .darkgray, .purple, .pink, .navy) .icon-nav-menu
.icon-link {
    color:var(--white) !important;
}

.icon-menu:is(.dark, .blue, .red, .green, .orange, .lightblue, .yellow, .gray, .darkgray, .purple, .pink, .navy) .icon-nav-menu .icon-link:hover {
    color: var(--dark) !important;
    background-color: var(--white);
    transition: all .3s;
 }

/* @keyframes toggleIconMenu {

    to {
        translate: 0 0;
        
    }

} */