/* images */
.img-responsive {
    width: 100%; 
    height: auto;
    object-fit: contain;
}

/* avatar */
.avatar, 
.avatar img {
   
   border-radius: 100%;
   object-fit: cover;
   background-position: center;

}

/* img thumbnails */
.img-thumbnail {

    border: thin solid var(--lightgray);
    padding: 5px;
    border-radius: 5px;
    
}   