/* modals */
.modal-overlay {
 
    background: rgb(46, 46, 46, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: fixed;
    top: 0;
    display: none;

}

.modal {

    display:none;
    align-items: center;
    justify-content: center;

}

.modal-content {

    padding:10px;
    background:  var(--white);
    border: thin solid var(--lightgray);
    border-radius: 5px;
    width: auto;
    z-index: 3;
    position: fixed;
    box-shadow: 0px 0px 3px 0px var(--gray);
    box-sizing:content-box;
    float:none !important;
    outline: none;
    top: 20%;
    overflow: hidden;
    overflow-wrap: break-word;

}

.modal-title {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    font-family: Arial, sans-serif;
    border-bottom: thin solid var(--lightgray);
    padding-block: 10px;
    background-color: var(--whitegray);
}

.modal-body {
    padding-top: 10px;
    margin-bottom: 20px;
}

.modal-footer {
    border-top: thin solid var(--lightgray);
    vertical-align: middle;
    text-align:right;
}

.modal-footer * {
    margin-top: 10px;
}

