/* navbar (incomplete) */
/* should be fixed with nav-menu alignment */
.navbar {
    height: calc(var(--nav-height) + 20px);
    width: 100%;
    position: relative;
    box-shadow: 0px 10px 20px solid var(--gray);
    line-height: calc(var(--nav-height) + 20px);
    margin:0;
    padding: 0;
    display: grid;
    overflow: hidden;

}

/* if navbar is white */
.navbar:is(.white) span,
.navbar:is(.white) a,
.logo *
 {
    color: var(--dark);
}

.logo, 
.logo span,
.logo p,
.logo i,
.logo img
{
    font-size: xx-large;
    color: var(--white);
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    float:left;
}

.logo img {
    position: relative;
    top:calc(var(--nav-height) / 2.2);
    object-fit: cover;
    background-position: center;
    width:calc(var(--nav-height) / 2.5); 
    height:calc(var(--nav-height) / 2.5);
}

.logo {
    margin-right: 25px;
    padding: 0;
}

.logo p {
    margin-block:0;
}

.nav-menu {
    margin-block: 0;
    position: relative;
}

.nav-menu li {
    display: inline-block;
    list-style: none;
}

.nav-item {
    padding-inline: 10px;
}

.nav-item a {
    text-decoration: none;
    color: var(--lightgray);
    height: 100%;
    width: 100%;
    text-align: center;
}

.navbar .right {
    margin-right: 5px;
}

/* navbar buttons */
.nav-item a:is(.btn) {
    width:auto;
    color:var(--white);
}

.active-link {
    font-weight: 600;
}

.nav-item:hover {
    background-color: rgba(119, 119, 119, 0.2);
}
