/* should be fixed with nav-menu alignment */
.navbar {
    height: calc(var(--nav-height) + 20px);
    width: 100%;
    position: relative;
    box-shadow: 0px 10px 20px solid var(--gray);
    line-height: calc(var(--nav-height) + 20px);
    margin:0;
    padding: 0;
    display: grid;
    overflow-x: hidden;

}

.logo, 
.logo span,
.logo p,
.logo i,
.logo img
{
    font-size: xx-large;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    float:left;
}

.logo img {
    position: relative;
    top:calc(var(--nav-height) / 2.2);
    object-fit: cover;
    background-position: center;
    width:calc(var(--nav-height) / 2.5); 
    height:calc(var(--nav-height) / 2.5);
}

.logo {
    margin-right: 25px;
    padding: 0;
    margin-block:0;

}

.nav-menu {
    margin-block: 0;
    position: relative;
}

.nav-menu li {
    display: inline-block;
    list-style: none;
}

.nav-item {
    padding-inline: 10px;
}

.nav-item a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    text-align: center;
}

.navbar .right {
    margin-right: 10px;
}

/* navbar buttons */
.nav-item a:is(.btn) {
    width:auto;
    color:var(--white);
}

.active-link {
    font-weight: 550;
}

.nav-item:hover {
    background-color: rgba(161, 161, 161, 0.375);
    transition: all .3s;
}

.navbar:not(.white) .logo *,
.navbar:not(.white) *
{
    color: var(--white);
}

/* if navbar is white */
.navbar *,
.logo > *
 {
    color: var(--dark);
}

.sticky {
    position: sticky;
    top:0;
}
