/* positions */
.position-relative {
    position: relative !important;
}

.position-fixed {
    position: fixed !important;
}

.position-absolute {
    position: absolute !important;
}

.position-sticky {
    position: sticky !important;
}

.position-static {
    position: static !important;
}


/* bottom */
.bottom-0 {
    bottom: 0;
}

.bottom-1 {
    bottom: .25rem;
}

.bottom-2 {
    bottom: .5rem;
}

.bottom-3 {
    bottom: 1rem;
}

.bottom-4 {
    bottom: 1.5rem;
}

.bottom-5 {
    bottom: 3rem;
}

/* top */
.top-0 {
    top: 0;
}

.top-1 {
    top: .25rem;
}

.top-2 {
    bottom: .5rem;
}

.top-3 {
    top: 1rem;
}

.top-4 {
    top: 1.5rem;
}

.top-5 {
    top: 3rem;
}

/* left */
.left-0 {
    left: 0;
}

.left-1 {
    left: .25rem;
}

.left-2 {
    left: .5rem;
}

.left-3 {
    left: 1rem;
}

.left-4 {
    left: 1.5rem;
}

.left-5 {
    left: 3rem;
}

/* right */
.right-0 {
    right: 0;
}

.right-1 {
    right: .25rem;
}

.right-2 {
    right: .5rem;
}

.right-3 {
    right: 1rem;
}

.right-4 {
    right: 1.5rem;
}

.right-5 {
    right: 3rem;
}