/* positions */
.p-relative {
    position: relative;
}

.p-fixed {
    position: fixed;
}

.p-absolute {
    position: absolute;
}

.p-sticky {
    position: sticky;
}

.p-static {
    position: static;
}